body {
    margin: 10px;
    padding: 10px;
    background: #ffe url(/image/fp/fade.png) top repeat-x;
    color: #800;
}
h1 {
    color: #800;
    text-align: center;
}
p {
    color: #000;
    text-align: center;
    font-size: 15pt;
}
h2 {
    text-align: center;
}
.profile-button {
    position: absolute;
    top: 10px;
    left: 110px;
}
.post {
    position: absolute;
    top: 10px;
    left: 10px;
}
.login {
    position: absolute;
    top: 10px;
    right: 10px;
}
.register {
    position: absolute;
    top: 10px;
    right: 75px;
}
.profile{
    text-align: center;
}
.return{
    text-align: center;
}
.logout{
    text-align: center;
}